.main{
  .balance{
    font-size: 20px;
    color: rgb(220, 147, 147);
  }

  .address{
    font-size: 15px;
    color: rgb(204, 11, 204)
  }
  
  .button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  
    &:hover {
      background-color: #0056b3;
    }
  }
}
  